@font-face { font-family: '.keep'; src: url('Graphics/Fonts/.keep'); }
@font-face { font-family: 'Rubik-Regular'; src: url('Graphics/Fonts/Rubik-Regular.WOFF'); }
@font-face { font-family: 'Tallys'; src: url('Graphics/Fonts/Tallys.woff'); }